
{% extends "base.html" %}
{% load widget_tweaks %}
{% block body %}
<br>	
<h2>Alterar Senha</h2>
	<div class="container">
	<div class="row">
	<div class="col-md-12">
	<form method="post">
    {% csrf_token %}

	<div class="form-group">
	<label for="{{form.old_password.id_for_label}}">Senha Anterior:</label>
	{{form.old_password|add_class:"form-control"|attr:"type:password"}}
	</div>

	<div class="form-group">
	<label for="{{form.new_password1.id_for_label}}">Nova Senha:</label>
	{{form.new_password1|add_class:"form-control"|attr:"type:password"}}
	</div>

	<div class="form-group">
	<label for="{{form.new_password2.id_for_label}}">Confirmar Nova Senha:</label>
	{{form.new_password2|add_class:"form-control"|attr:"type:password"}}
	</div>
	<button type="submit" class="btn btn-primary">Alterar Senha</button>
	</form>
	</div>
	</div>
	</div>
{% endblock body %}